html,
body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  @extend %mont-400;
  font-size: 20px;
  line-height: 1.4;
  color: $white;
  background-color: $white;
}

.main{
  flex-grow: 1;
}

a{
  color: $white;
}
.container{
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-bg {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
}